*{ box-sizing:border-box; }
@media screen and (max-width:650px){
	#slider{
		height: auto;
		padding: 20px;
	}
	#header-section{
		padding: 0;
	}
	#logo{
		float: none;
		text-align: center;
	}
	#menu-section{
		padding: 20px;
	}
	#slider .text-center{
		padding: 0;
	}
	
	
	#services-terms{
		background-size: auto;
	}
	#services-terms > p{
		padding: 20px;
	}
	#services-box .col-md-1{
		visibility: hidden;
	}
	#footer-section h1{
		font-size: 24px;
	}
	#form-section{
		width: 100%;
	}
}